.app-footer {
  height: 11rem;
  position: absolute;
  background: #00b265;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.app-footer__socials {
  color: #fff;
  font-size: 3rem;
}

.app-footer__logos {
  display: flex;
}

.app-footer__logos img {
  width: 8rem;
}

.app-footer__logos img:first-child {
  width: 9rem;
  margin-right: 3rem;
}

.app-footer__logos img:last-child {
  padding-top: .8rem;
}
