.app-footer {
  height: 11rem;
  position: absolute;
  background: var(--green);
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.app-footer__socials {
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-content: center;
}

.app-footer__socials i {
  align-self: center;
  margin-right: 2rem;
}

.app-footer__logos {
  display: flex;
  align-content: center;
}

.app-footer__logos a {
  display: block;
  width: 7rem;
  align-self: center;
  margin-left: 4rem;
}

.app-footer__logos a:first-child {
  margin-left: 0;
}

.app-footer__logos a:first-child {
  width: 10rem;
}

.app-footer__logos a:last-child {
  width: 10rem;
}

.app-footer__logos a:last-child svg {
  fill: #fff;
}

.app-footer__logos img {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .app-footer {
    flex-direction: column;
    padding: 0 2rem;
    justify-content: center;
    height: 20rem;
  }
  .app-footer__socials {
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 2rem auto;
  }
  .app-footer__logos {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
