.app-header__top {
  height: 18rem;
  background-image: url('../images/pattern.gif');
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-header__top h1 {
  margin: 0;
  color: #00b265;
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 4.6rem;
  align-self: center;
}

.app-header__navigation {
  width: 100%;
}

.app-header__navigation ul {
  display: flex;
  width: 100%;
  margin: 0;
}

.app-header__navigation li {
  list-style-type: none;
}
