@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
}

#root {
  min-height: 100%;
  position: relative;
  padding-bottom: 11rem;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

a,
a:visited,
a:active {
  color: #d8a928;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.twitter {
  color: #08a0e9;
}

a.github {
  color: #333;
}

a.seamless,
a.seamless:visited,
a.seamless:active {
  color: inherit;
  text-decoration: none;
}

.button--link {
  color: #fff;
  background: inherit;
  border: none;
  text-transform: uppercase;
  outline: 0;
}

.button--link:hover {
  text-decoration: underline;
  cursor: pointer;
}
