.profile__subject {
  display: flex;
  margin-top: 2rem;
}

.profile__subject__avatar-wrapper {
  width: 16rem;
}

.profile__subject__avatar-wrapper img {
  border-radius: 50%;
  width: 100%;
  border: .6rem solid #00b265;
}

.profile__subject__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.profile__subject__title h2 {
  background: #00b265;
  margin: 1rem 0 0;
  padding: .6rem;
  color: #fff;
}

.profile__subject__title h3 {
  background: #d8a928;
  padding: .4rem;
  color: #fff;
  margin-bottom: 0;
}

.profile__subject__title h4 {
  padding: .2rem;
}

.profile__about {
  display: flex;
  justify-content: space-between;
}

.profile__about__title {
  margin-bottom: 1rem;
}

.profile__about__bio {
  margin-right: 3rem;
  padding-right: 3rem;
  border-right: 1px solid gray;
}

.profile__about__socials {
  padding-left: 0;
  line-height: 1.6;
  font-size: 1.8rem;
  width: 65rem;
}

.profile__about__socials li {
  list-style-type: none;

}

.profile__about__socials li a {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}

.profile__about__socials i {
  margin-right: 1rem;
}
