.app-user-mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-user-mini img {
  border: var(--green) .8rem solid;
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
  transition: transform .3s ease-in-out;
}

.app-user-mini:hover img {
    transform: rotate(25deg);
}

.app-user-mini p {
  text-align: center;
  margin: .2rem 0;
  padding: .5rem;
}

.app-user-mini p:first-of-type {
  background-color: var(--green);
  margin-top: 1rem;
  padding: .5rem;
  color: white;
}
