.app-user_mini {
  flex: 1 1;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-user_mini img {
  border: #00b265 .8rem solid;
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
  transition: transform .3s ease-in-out;
}

.app-user_mini:hover img {
    transform: rotate(25deg);
}

.app-user_mini p {
  text-align: center;
  margin: 0.2em 0;
  padding: 0.5em;
}

.app-user_mini p:first-of-type {
  background-color: #00b265;
  margin-top: 1em;
  padding: 0.5em;
  color: white;
}
